.CounterDeconstructor button {
    border: none;
    background-color: #4AAAA5;
    color: #fff;
    text-align: center;
    padding: 15px 32px;
    border-radius: 12px;
    height: 50px;
    width: 50px;
    display: inline-block;
     margin: 5px;/* distancia de um botão para o outro */
}

.CounterDeconstructor button:hover {
    background: #7ACCC8;
    color: #fff;
}

.PassoInput {
    position: relative;
    /* posiciona o elemento em relação a si mesmo */
    text-align:center;
    width: 100%;
    padding: 4px 15px; /* primeiro elemento é a distância de cima e de baixo, o segundo e dos lados de suas bordas*/
}

.PassoInput input{
    font-size: 1.4rem;
    width: 60px;
}

.PassoInput label{
    font-size: 1.4rem;
}