.IndirectSon button {
    border: none;
    background-color: #007034;
    color: #fff;
    text-align: center;
    padding: 15px 32px;
    border-radius: 12px;
    font-size: 16px;
    display: inline-block;
}

.IndirectSon button:hover {
    background: #00A03E;
    color: #fff;
}